*.0
*.INFO
*.log.*
detect_results/
head_color_camera_images/
images/
lerobot_dataset/
lerobot/lerobot_dataset/
data_to_cloud/
yolo/images/*.jpg
yolo/images/*.png
yolo/yolo-env/
yolo/*.jpg
lerobot/lerobot